{%extends 'shop/main.html' %}

{%load static%}
{%block content%}

<div class="row"  style="margin-top: 20px;">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <img class="custom-aboutus" src="{%static 'images/about.jpg'%}" alt="logo">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <p><strong>About Us</strong></p>
            <hr>
            <p>Welcome to Glimmer, where elegance meets individuality. We believe that accessories are more than just finishing touches— they’re expressions of who you are. Founded on the idea that everyone deserves to Shine with Elegance and Radiate with Confidence, we carefully curate a collection of accessories that empower you to embrace your unique style.
                
                <br>
                Whether you're adding a touch of sparkle to your daily ensemble or preparing for a special occasion, Glimmer is here to help you shine, one accessory at a time.</p>
        </div>
        <br>
        <div class="box-element" id="form-wrapper">
            <p><strong>Our Products</strong></p>
            <hr>
            <p>At Glimmer, we believe that the right accessory can light up any look. Our curated collection is filled with pieces that add a touch of elegance, sparkle, and personality to your style. From delicate essentials to bold statement items, Glimmer offers accessories that fit every mood and occasion.

                Our selection includes earrings, necklaces, bracelets, rings, and more—all chosen with quality and versatility in mind. 
                </p>
                </div>
    </div>

</div>
{%endblock content%}