{%extends 'shop/main.html' %}

{%load static%}
{%block content%}
<html>

<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/11.jpg) no-repeat scroll center center / cover ;">
    <div>
        <section class="picture">
            <div class="container-picture">
                <br>
                <h5 style="color: #2f1b12 ;margin-left: 140px;margin-bottom: 25px;"><strong> Home > Categories</strong></h5>
            </div>
        </section>
    </div>
</div>
<br>


<div class="row" style="margin-top: 20px;">
    {%for category in categorys%}
    <div class="col-lg-4" style="margin-bottom: 50px;">
        <img  class="thumbnail" src="{{category.imageURL}}">
        <div class="box-element product">
            
            <h6><strong>{{category.name}}</strong></h6>
            <hr>
            <button data-product="{{category.id}}" data-action="add" class="btn custom-view">View</button>
            
        </div>
    </div>
    {%endfor%}
</div>
</html>


{%endblock content%}