{%extends 'shop/main.html' %}

{%load static%}
{%block content%}
<html>
    <div>
    <section id="home">
        <div class="container">
          <br>
            <h5 style="color: #2f1b12">CATEGORIES</h5>
        </div>

    </section>
    
    </div>

<div class="row" style="margin-top: 20px;">
    {%for category in categorys%}
    <div class="col-lg-4" style="margin-bottom: 50px;">
        <img  class="thumbnail" src="{{category.imageURL}}">
        <div class="box-element product">
            
            <h6><strong>{{category.name}}</strong></h6>
            <hr>
            <button data-product="{{category.id}}" data-action="add" class="btn custom-view">View</button>
            
        </div>
    </div>
    {%endfor%}
</div>
</html>


{%endblock content%}